:root {
  --black: #000000;
  --yellow: #ffd700;
 
}

.test {
  color: white;
  font-size: 36px;
  width: 100%;
  height: 230px;
  background: url(../images/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 80px;
  padding-bottom: 30px;
  font-size: 70.5px;
  font-family: "Secular One";
  /* display: inline-block; */
  text-align: left;
}
.box {
  display: inline-block;
  margin-top: 100px;
}
.howweoperatetitlecontainer{
  margin-bottom: 50px;
}
.title {
  text-align: center;
  padding: 10vh 25px;
  margin-bottom: 100px;
}
.hand {
  vertical-align: top;
}
.subheadertext {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 400px;
  padding-left: 80px;
  color: white;
  line-height: 25px;
}
.formheader {
  text-align: left;
  width: 400px;
  padding-left: 80px;
}
.actualformheader {
  width: 440px;
  height: 40px;
  color: rgb(194, 189, 189);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.howweoperatecontainer {
  padding: 0px 22px;
  text-align: center;
  width: fit-content;
}
.smallnowahala{
  color: var(--yellow);
  font-style: italic;
}
.stepsboxcontainer{
  text-align: center;
  padding: 0px 80px;
}

.aboutuscontainer{
  margin-top: 200px;
  
padding: 0px 22px;
/* margin-bottom: 100px; */
}
.lady{
  vertical-align: middle;
  margin-right: 65px;
}
.ladyandtextcon{
  text-align: center;
  padding: 0px 22px;
  
}
.abouttext{
  width: 579px;
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
  font-size: 15.02px;
  line-height: 25px;

}
.whyChooseUsCon{
  width: 85vw;
  margin: 200px auto;
}
.whyChooseUsTitle{
  font-weight: 1000;
  margin-bottom: 20px;
  font-size: 23.21px;
}
.whyChooseUsSubTitle{
  font-size: 23.21px;
}
.WhyChooseUsBoxCon{
  margin-top: 80px;
  text-align: center;
}
.aboutussubtext{
  margin-bottom: 30px;
}
.yourlogocon{
    text-align: center;
}
.footercon{
 text-align: center;
 margin-top: 200px;
 
 display: block;
 
 
}
.bigfootercon{
  text-align: center;
  
}
@media screen and (max-width: 1263px) {
  .test {
    height: 130px;
    font-size: 40.5px;
  }
  .hand{
   width: 450px;
   vertical-align: top;
  }
  .actualformheader {
    width: 320px;
    height: 40px;
    color: rgb(194, 189, 189);
    padding: 10px;
   
    font-family: Arial, Helvetica, sans-serif;
  }
  .subheadertext{
    font-size: 13px;
  }
}
@media screen and (max-width: 900px) {
  .test {
    color: white;
    font-size: 36px;
    width: 100%;
    height: 200px;
    background: url(../images/arrows.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 80px;
    padding-bottom: 30px;
    font-size: 60.5px;
    font-family: "Secular One";
    /* display: inline-block; */
    text-align: left;
  }
  .hand{
    display: none;
  }
  .actualformheader {
    width: 380px;
    height: 40px;
    color: rgb(194, 189, 189);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .subheadertext {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 400px;
    padding-left: 80px;
    color: white;
    line-height: 25px;
  }
  .subheadertext{
    font-size: 16px;
  }
  .abouttext{
    width: 100%;
   }
   .whyChooseUsSubTitle{
    font-size: 18px;
  }
  .title {
    text-align: center;
    padding: 15vh 25px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 540px) {
  .test {
    width: 350px;
    height: 130px;
    font-size: 40.5px;
  }
  .actualformheader {
    width: 260px;
    height: 40px;
    padding: 10px;
    font-size: 10px;
    
  }
  .subheadertext {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 300px;
    padding-left: 80px;
    color: white;
    line-height: 25px;
    font-size: 12px;
  }
  .whyChooseUsSubTitle{
    font-size: 15px;
  }
  .stepsboxcontainer{
    padding: 0px 50px;
  }
}

@media screen and (max-width: 414px) {
  .test {
    color: white;
    font-size: 36px;
    width: 300px;
    height: 100px;
    font-size: 30.5px;
  }
  .hand{
    display: none;
  }
  .actualformheader {
    width: 220px;
    height: 40px;
    padding: 10px;
    font-size: 10px;
    
  }
  
  .subheadertext {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 300px;
    padding-left: 80px;
    color: white;
    line-height: 25px;
    font-size: 12px;
  }

  .noWaha{
    font-size: 12px;
  }
  .abouttext{
    width: 100%;
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    font-size: 13px;
    line-height: 25px;
    
  }
  .whyChooseUsSubTitle{
    font-size: 13px;
  }
 
  .lady{
   width: 65%;
  }
  .stepsboxcontainer{
    padding: 0px 30px;
  }

}
@media screen and (max-width: 350px) {
  .test {
    width: 250px;
    height: 90px;
    font-size: 25.5px;
  }
  .subheadertext {
    font-size: 9px;
    width: 250px;
    
  }
  .actualformheader {
    width: 170px;
    height: 30px;
   
  }
  .aboutussubtext{
    font-size: 8px;
  }
  .whyChooseUsSubTitle{
    font-size: 8px; 
   }
   .abouttext{
    font-size: 8px;
  }
  .actualformheader::placeholder{
    font-size: 8px;
  }
}

