:root {
  --black: #000000;
  --yellow: #ffd700;
}

.test {
  color: white;
  font-size: 36px;
  width: 100%;
  height: 230px;
  background: url(../images/arrows.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 80px;
  padding-bottom: 30px;
  font-size: 70.5px;
  font-family: "Secular One";
  /* display: inline-block; */
  text-align: left;
}
.box {
  display: inline-block;
  margin-top: 100px;
}
.howweoperatetitlecontainer{
  margin-bottom: 50px;
}
.title {
  text-align: center;
  padding: 120px 25px;
  margin-bottom: 100px;
}
.hand {
  vertical-align: top;
}
.subheadertext {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 400px;
  padding-left: 80px;
  color: white;
  line-height: 25px;
}
.formheader {
  text-align: left;
  width: 400px;
  padding-left: 80px;
}
.actualformheader {
  width: 450px;
  height: 40px;
  color: rgb(194, 189, 189);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.howweoperatecontainer {
  padding: 0px 22px;
  text-align: center;
  width: fit-content;
}
.smallnowahala{
  color: var(--yellow);
  font-style: italic;
}
.stepsboxcontainer{
  text-align: center;
  padding: 0px 80px;
}

.aboutuscontainer{
  margin-top: 200px;
  
padding: 0px 22px;
/* margin-bottom: 100px; */
}
.lady{
  vertical-align: middle;
  margin-right: 65px;
}
.ladyandtextcon{
  text-align: center;
  padding: 0px 22px;
  
}
.abouttext{
  width: 579px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 15.02px;
  line-height: 25px;
}
.whyChooseUsCon{
  width: 85vw;
  margin: 200px auto;
}
.whyChooseUsTitle{
  font-weight: 1000;
  margin-bottom: 20px;
  font-size: 23.21px;
}
.whyChooseUsSubTitle{
  font-size: 23.21px;
}
.WhyChooseUsBoxCon{
  margin-top: 80px;
  text-align: center;
}
.aboutussubtext{
  margin-bottom: 30px;
}
.yourlogocon{
    text-align: center;
}
.footercon{
 text-align: center;
 margin-top: 200px;
 
 display: inline-block;
 
 
}
.bigfootercon{
  text-align: center;
  
}
@media screen and (max-width: 900px) {
  .hand{
    display: none;
  }
}