.notLaptopHeader{
    position: fixed;
    z-index: 1300;
    
}

.header{
    display: flex;
    width: 100vw;
    background: var(--black);
}
.navCon{
    margin: 22px;
    margin-left: auto;

}

  .hamburgerButton{
      font-size: 30px;
      cursor: pointer;
      margin-right: 22px;
  }
  .Logo {
    margin: 22px;
    margin-left: 22px;
  
    vertical-align: middle;
    display: inline-block;
    width: 99px;
  }

  