.loremsubtext{
    width: 190px;
    font-size: 10.5px;
    margin: 10px 0px;
}
.stepsbox{
    border:3px solid var(--yellow);
    width: 290px;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    display: inline-block;
    text-align: left;
    position: relative;
    z-index: -10;
}
@media screen and (max-width: 540px) {
    .stepsbox{
        border:3px solid var(--yellow);
        width: 85%;
        padding: 20px 10px;
        border-radius: 20px;
        margin: 30px;
        display: inline-block;
        text-align: left;
    }
    .loremsubtext{
        width: 100%;
        font-size: 10.5px;
        margin: 10px 0px;
    }
}
@media screen and (max-width: 360px) {
       .loremsubtext{
        width: 100%;
        font-size: 8px;
        margin: 10px 0px;
    }
}